* {
    font-family: "楷体";
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    font-size: 40px;
    background-color: #fac366;
    width: 650px;
    height: 90px;
    color: white;
    margin: 0 auto;
    line-height: 90px;
}

main {
    margin: 10px auto;
    font-size: 35px;
    background-color: #eeddc0;
    width: 650px;
    height: 550px;
}

footer {
    clear: right;
    margin: 0 auto;
    padding: 10px 0;
    background-color: #fac366;
    width: 650px;
    height: 40px;
    color: #888888;
    font-size: 12px;
}

small {
    float: right;
}

input[type="text"] {
    width: 200px;
    height: 30px;
    font-size: 16px;
}

input[type="submit"],input[type="reset"] {
    width: 100px;
    height: 40px;
    font-size: 21px;
}

.book-info {
    margin-top: 20px;
}

.book-info h3 {
    font-size: 32px;
    margin-bottom: 15px;
}
.book-info p {
    margin: 8px 0;
}
